## Final Project Submission

Please fill out:
* Student name: Kandie Phelma 
* Student pace: full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

# PROJECT:  [House_Prediction_Analysis]

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#Data Understanding">Data Understanding</a></li>
<li><a href="#Data Preparation/cleaning">Data Preparation/cleaning</a></li>
<li><a href="#mod">Modelling</a></li>
<li><a href="#mod">Linear regression results</a></li>   
<li><a href="#conclusions">Conclusions</a></li>

# <a id='intro'></a>
# INTRODUCTION:

## Dataset Description 

<p> The King County House Dataset contains a wealth of information about the price, size, location, condition and various other features of houses in Washington’s King County. In this article, I’ll present how I built a multiple linear regression model in Python to predict house prices.</p>

### Question(s) for Analysis

<ul>
 <li>1 What kind of movie contents in terms of genre perform the best?</li>
 <li>2 What  film rating has the highest count?</li>
 <li>3 Does budgetary allocations affect the gross income?</li>
 <li>4 Does movie director affect the rating/ views of a movie film?</li>
    </ul>

<a id='wrangling'></a>
# DATA UNDERSTANDING:
Here will check our variables and try as much as possible to understand it and how it will relate to our questions

In [2]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from scipy import stats
from scipy.stats import norm
%matplotlib inline

In [4]:
#loading our movie info tsv file
info=pd.read_csv("kc_house_data.csv")
info.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [5]:
#Lets get the number of rows and columns
info.shape

(21597, 21)

In [6]:
#retriving information
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

Date, sqft basement has misplaced datatypes,

In [7]:
#check if there is any duplicate data
info.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
21592    False
21593    False
21594    False
21595    False
21596    False
Length: 21597, dtype: bool

In [8]:
#checking sum of null values
info.isnull().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

We can see that watefront and the year of renovation has a lot of null values , wel have to clean that, view has lesser missig values

# DATA CLEANING:
Checking for Validity, Accuracy, Completeness, Consistency and Uniformity of the Data.

# MODELLING:
After discussing the structure of the data and any problems that need to be cleaned, perform those cleaning steps in the second part of this section.

# LINEAR REGRESSION RESULTS:

# CONCLUSION: